*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: #363636;
  color: #f7f7f7;
  height: 100vh;
}

main{
  height: 100vh;
}

header{
  padding-top: 0;
  height: 6vh;
  width: 100%;
  background: #2e2e2e;
  display: flex;
  padding-bottom: 3vh;
  position: fixed;
}

h2{
  padding: 2vh;
  float: left;
}

.sign-out{
  outline: none;
  height: 6vh;
  border: 2px solid #fa6565;
  background-color: #2e2e2e;
  color: #fa6565;
  font-family: 'Montserrat', sans-serif;
  padding-left: 2vh;
  padding-right: 2vh;
  margin-right: 2vh;
  margin-top: calc(1.5vh);
  margin-left: auto;
}

.message{
  display: flex;
  margin: 2vh;
}

.user-photo{
  border-radius: 50%;
  height: 6vh;
}

.user-text{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2vh;
}

.message-box{
  position: fixed;
  bottom: 0;
}

.message-box{
  display: flex;
}


/* disables the scrollbar */
body::-webkit-scrollbar{
  display: none;
}
body{
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
