*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: #363636;
  color: #f7f7f7;
  height: 100vh;
  display: grid;
}

main{
  height: 85vh;
  display: flex ;
  flex-direction: column;
  overflow-y: scroll
}

header{
  padding-top: 0;
  height: 6vh;
  width: 100%;
  background: #2e2e2e;
  display: flex;
  padding-bottom: 3vh;
  /* position: fixed;
  top: 0; */
}

h2{
  padding: 2vh;
  float: left;
}

.sign-out{
  outline: none;
  height: 6vh;
  border: 2px solid #fa6565;
  background-color: #2e2e2e;
  color: #fa6565;
  font-family: 'Montserrat', sans-serif;
  padding-left: 2vh;
  padding-right: 2vh;
  margin-right: 2vh;
  margin-top: calc(1.5vh);
  margin-left: auto;
  cursor: pointer;
}

.sign-in{
  outline: none;
  height: 6vh;
  width: 20vw;
  border: 2px solid #65fa8a;
  background-color: #363636;
  color: #65fa8a;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10vh;
  margin-left: 40vw;
  margin-right: 40vw;
  cursor: pointer;
}

.sign-in-google{
  border: 2px solid #65fa8a;
  color: #65fa8a;
}

.sign-in-github{
  border: 2px solid #e0e0e0;
  color: #e0e0e0;
}

.message{
  display: flex;
  margin: 2vh;
}

.user-photo{
  border-radius: 50%;
  height: 6vh;
}

.user-text{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2vh;
}

.message-box{
  height: 6vh;
  width: 100%;
  display: grid;
  grid-template-columns: 7fr 1fr;
}

.message-type{
  background-color: #444444;
  font-family: inherit;
  outline: none;
  border: none;
  padding-left: 2vh;
  color: #f7f7f7;
  line-height: 3;
}

.send{
  background-color: #585858;
  border: none;
  cursor: pointer;
}



/* disables the scrollbar */
body::-webkit-scrollbar, main::-webkit-scrollbar{
  display: none;
}
body, main{
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
